<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suitfit.portal.base.dao.mapper.ChannelFlowMapper">

    <!-- 流量看板，默认查询-->
    <select id="channelFlow" resultType="com.suitfit.portal.model.entity.ChannelFlow" parameterType="com.suitfit.framework.utils.page.PageVO">
        SELECT upl.source channel,
            COUNT( upl.id ) pv,
            COUNT( DISTINCT upl.HASH ) uv,
            (SELECT COUNT(a.account_id)  from `suitfit_user`.`user_account` a ) AS userNumT,
            (SELECT COUNT(a.account_id)*12  from `suitfit_user`.`user_account` a ) AS userNumF,
            (SELECT COUNT(b.id) FROM suitfit_order.`withhold_log` b ,suitfit_user.user_account a WHERE a.account_id=b.account_id) AS userPayNum,
            (SELECT COUNT(*) FROM suitfit_order.`withhold_log` b ,suitfit_user.user_account a WHERE a.account_id=b.account_id AND b.pay_type=1) As userPayNumT,
            (SELECT SUM(b.real_pay_amount)  FROM suitfit_order.`withhold_log` b, suitfit_user.user_account a WHERE a.account_id=b.account_id) AS PayNum
        FROM suitfit_user.`user_page_log` upl
        GROUP BY upl.source
        limit #{current},#{size};
    </select>

<!--流量看板，条件查询-->
    <select id="findChannelFlowByChTi" resultType="com.suitfit.portal.model.entity.ChannelFlow" parameterType="com.suitfit.portal.model.entity.ChannelTime">

        SELECT upl.source channel,
            COUNT( upl.id ) pv,
            COUNT( DISTINCT upl.HASH ) uv,
            (SELECT COUNT(a.account_id)  from `suitfit_user`.`user_account` a ) AS userNumT,
            (SELECT COUNT(a.account_id)*12  from `suitfit_user`.`user_account` a ) AS userNumF,
            (SELECT COUNT(b.id) FROM suitfit_order.`withhold_log` b ,suitfit_user.user_account a WHERE a.account_id=b.account_id) AS userPayNum,
            (SELECT COUNT(*) FROM suitfit_order.`withhold_log` b ,suitfit_user.user_account a WHERE a.account_id=b.account_id AND b.pay_type=1) As userPayNumT,
            (SELECT SUM(b.real_pay_amount)  FROM suitfit_order.`withhold_log` b, suitfit_user.user_account a WHERE a.account_id=b.account_id) AS PayNum
        FROM suitfit_user.`user_page_log` upl

        <where>
            <if test="channel != 'null' and channel != '' and (time == 'null' or time =='') ">
                upl.source like concat('%',#{channel},'%')
            </if>

            <if test="time !='null' and time !='' and (channel == 'null' or channel == '')">
                upl.ctime like concat('%',#{time},'%')
            </if>

            <if test="channel != 'null' and channel != '' and time != 'null' and time !='' ">
                upl.source like concat('%',#{channel},'%')
            </if>
        </where>
        limit #{current},#{size};


    </select>

</mapper>